.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  width: 300px;
}

form div {
  margin-bottom: 1em;
}

form label {
  display: block;
}

form input, form textarea {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
}

form button {
  padding: 0.5em 2em;
}

.travel-entry {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}

.travel-entry img {
  max-width: 100%;
  height: auto;
}
